.con{
    width:100vw;
    height: 100vh;
}
.background{
    width: 70%;
    height:87%;
    box-shadow: 0 0 30px blue;
    margin-left: 12%;
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}